body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    
}

p {
    margin: 0;
    color: black;
    font-size: 1em;
    line-height: 1.1;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}



.logo-nls h1 {
    font-size: 3em;
}

.logo-nls {
    padding-top: 3em;
}

.logo-nls h1 a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #fff;
}

h2.nls-bnrtext {
    color: #fff;
    font-size: 8em;
    font-weight: 800;
    letter-spacing: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

p.nls-p span {
    color: #a0f0fb;
    margin-left: 10px;
    font-size: 1.5em;
}

p.nls-p {
    font-size: 1.2em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 1em 0;
    display: block;
}


/*-- banner --*/
.txtdeepshadow {
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    height: 100px;
    padding-top: 80px;
    margin-left: 30%;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  }
.txtdeepshadow h1{
    float:right;
    text-align: center;
    margin-left:50px;
}
.banner {
    background: url(../cover.jpg) no-repeat top;
    background-size:cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    width:100%;
    height:auto;
}
.banner-text {
    padding: 17em 0em;
    margin: 0 auto;
    float: left;
    width: 100%;
    text-align: center;
}
.header-right {
    padding: 3em 1em 0 0;
    float: right;
    margin-right:200px;
    color: #fff;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    text-decoration-line: none;
    text-decoration: none;
}

.header-right a, .header-right p {
    color:#ffffff; 
    text-decoration: none;
    display: inline;
}
.header-right .fa-phone, .header-right .fa-envelope-o {
    font-size: 29px;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

/*doi vi tri chu toi la Ngoc xin chao*/
.banner-slide {
    width: 100px;
    height:80px;
    margin:-80px auto;
    margin-left:100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.16);
    outline: 10px solid rgba(255, 255, 255, 0.03);
    text-align: center;
    padding-top: 10px;
    /*chinh vi tri chu so voi khung*/
    
}

.banner-text h4 {
    
    text-transform: capitalize;
    font-size: 3em;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 300;
    

}

h2.bnrtext {
    color: #fff;
    font-size: 3em;
    float: left;
    height: 50px;
    font: 300 40px/50px 'Barlow Condensed';
    width: 100px;
}

b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
}

span.span1 {
    display: inline-block;
    width: 600px;
    color: #fff;
    position: relative;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font: normal 40px/50px 'Cabin Sketch', cursive;
    /*font: normal 40px/50px Barlow Condensed, sans-serif;*/
    font-weight: 600;
    top: 0;
    left: -20px;
    margin:0 auto;
    padding-left: 0;
    -webkit-animation: move 5s;
    -webkit-animation-iteration-count: infinite;
   /* -webkit-animation-delay: 1s;*/
}

@keyframes move {
    0% {
        top: 0px;
    }
    50% {
        top: -50px;
    }
    /*40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }*/
}


/*-- banner-text --*/
/* end-toi la Ngoc*/

/*-- menu-navigation --*/

nav {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    right: -220px;
    top: 0;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 220px;
    z-index: 9001;
    /* IT'S OVER 9000! */
    padding-top: 4em;
    padding-left: 1em
}

#menuToggle {
    display: block;
    position: fixed;
    height: 40px;
    right: 13.5%;
    top: 47px;
    width: 46px;
    z-index: 9999;
}
/*chinh sua vach thu hai cua toggle*/
#menuToggle span {
    background: #7E6ABF;
    display: block;
    height: 10%;
    left: 20%;
    position: absolute;
    top: 45%;
    width: 60%;
}
/*chinh sua vach 1 và vach 3 cua toggle*/
#menuToggle span:before,
#menuToggle span:after {
    background: #7E6ABF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -250%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
}

#menuToggle span:after {
    top: 250%;
}

nav a {
    color: #fff;
    display: block;
    font-size: 1.3em;
    margin: 30px 0 30px 30px;
    font-weight: 300;
    letter-spacing: 1px;
}
/*chinh duong gach chan animation*/
nav a:after {
    background:#7E6ABF;
    content: '';
    display: block;
    height: 2px;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 0;
    margin-top: 0.2em;
}

nav a:hover:after {
    width: 100%;
}

.menu nav a:hover,
.menu nav a:focus {
    color: #cfdce5;
}

.open nav {
    right: 0;
}

.open #menuToggle span {
    background: transparent;
    left: 20%;
    top: 45%;
}
/*chinh dau x*/
.open #menuToggle span:before,
.open #menuToggle span:after {
    background:#C7C0A0;
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #menuToggle span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menuToggle .navClosed {
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    transition: background 0.1s linear;
}

#menuToggle .navClosed:before,
#menuToggle .navClosed:after {
    -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
    -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transition-delay: 0.1s, 0.1s;
    transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}

#menuToggle .navOpen {
    -moz-transition: background 0.1s linear 0.2s;
    -o-transition: background 0.1s linear 0.2s;
    -webkit-transition: background 0.1s linear;
    -webkit-transition-delay: 0.2s;
    transition: background 0.1s linear 0.2s;
}

#menuToggle .navOpen:before,
#menuToggle .navOpen:after {
    -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
    -o-transition: top 0.2s linear, -o-transform 0.2s linear;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    transition: top 0.2s linear, transform 0.2s linear;
}




/*-- //menu-navigation --*/



.hide-bullets {
    list-style: none;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.carousel-control span {
    margin-top: 13em;
}
.demo
/*-- //contact --*/


.footer-social h5 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top:200px
}


.footer-cpy {
    margin-top: 3em;

}

.cpy-right h6 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 20px
}



.section-agile {
    padding: 6em 0;
}
#objective {
    background-color: #C2C5CC
}
h3.profile-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 600;
    color: #3D3E40;
}



.welcome h4 {
    font-size: 1.6em;
    width: 80%;
}


#about{
    background-color:#CFD2D9
}
.about-nls h4 {
    font-size: 1.6em;
    line-height: 1.6em;
    color: #404040;
    font-weight: 300;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding: 1em 0;
}
.about-nls img {
    padding-right: 0
}

/*education*/
#education{
    background-color:#CED1D9
}
/*experience*/
#experience{
    background-color:#B6B8BF
}
/*skills*/
#skills{
    background-color:#A9ADB8
}
/*portfolio*/
#portfolio{
    background-color:rgb(222, 226, 236)
}
.polaroid{
    position: relative;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}
.container1, .container2{
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
}
.container1b, .container2b{ 
    margin-bottom: 11px;
    text-align: center;
    color: #3D3E40;
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    line-height: 1.1;
}
a.text:hover, a.text:active {color:  rgb(122, 126, 134)}
.title {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    float: left;
    font-family: 'Kanit', sans-serif;
    color:  #3D3E40;;
    font-size: 3em;
    line-height: 1.1;
}
.email {
    margin-top: 30px;
    float:right;
    margin-right: 20%;
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
    color:  #3D3E40;
    font-size: 3em;
    line-height: 1.1;
}
a.email:hover, a.email:active {color:  rgb(122, 126, 134)}
#bannerinlogo{
    width:100%;
    height: 200px;
    position:fixed;
    background-color:white
}
.note{
    margin-top: 30px;
    float:left;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    color:  #3D3E40;
    font-size: 2em;
    line-height: 1.1;
    margin-left:30px
}
.container3{
    text-align: center;
    font-weight:bold;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    padding-top: 11px; 
    padding-bottom: 11px;
}
.container4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    line-height: 1.1;
    margin-bottom: 34px;
}
.container5, .container6, .container7, .container8, .container10, .container12{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    line-height: 1.1;
    margin-bottom: 34px;
}
.container9, .container11, .container13, .container14, .container15, .container16{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    line-height: 1.1;
    margin-bottom: 11px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-top: 15px
  }
  .middle {
    transition: .5s ease-in;
    opacity: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .polaroid:hover .image {
    opacity: 0.3;
  }
  
  .polaroid:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #3D3E40;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
  }

.about-skills h4 {
    font-weight: 500;
    font-size: 2em;
    padding: 0.5em 0.5em;
    color: #CED1D9
}
.title-skills {
    background-color: #3D3E40;
    border: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
.about-skills p {
    font-weight: 400;
    font-size: 1.6em;
    color: #3D3E40;
}
.bold{
    font-weight: 600;
    color: rgb(37, 37, 39);
}
#activities{
    background-color:#B6B8BF
}
.action{
    margin-top: 20px;
    margin-bottom:20px
}
#honor {
    background-color: #C2C5CC
}
#footer {
    background-color: #3D3E40
}

a.sb {
    display: block;
}

.hover14 figure {
    overflow: hidden;
    position: relative;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-17deg);
    -moz-transform: skewX(-17deg);
    -o-transform: skewX(-17deg);
    -ms-transform: skewX(-17deg);
    transform: skewX(-17deg);
}

.hover14 figure:hover::before {
    -webkit-animation: shine .95s;
    -moz-animation: shine .95s;
    animation: shine .95s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


.blog_n_info h4 {
    font-size: 18px;
    color: #ea4c89;
    letter-spacing: 1px;
}

.blog_n_info h4 span {
    color: #000;
}

.blog_section:nth-child(2) {
    margin: 4em 0;
}

.blog_n_info h5 a,
.single-left1 h5 {
    font-size: 2.05em;
    color: #313131;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
}

ul.blog_list li {
    display: inline-block;
    color: #212121;
}

ul.blog_list li span {
    color: #fb5f6c;
    padding-right: 8px;
}

ul.blog_list li i {
    padding: 0 1em;
    font-style: normal;
    color: #999;
}

ul.blog_list li a {
    text-decoration: none;
    color: #212121;
}

.blog_n_info h5 {
    margin: 12px 0 20px;
}

ul.blog_list_btm li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

ul.blog_list_btm {
    padding-top: 1em;
    border-top: 1px solid #777;
}

ul.blog_list_btm li:last-child {
    float: right;
}

.blog_n_info {
    padding: 30px;
}

.single-left1.blog_n_info {
    margin: 0;
}

.blog_con a img {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
}

.blog_img {
    padding: 0 .5em;
}

.blog_img:nth-child(3),
.blog_img:nth-child(4) {
    margin: 30px 0;
}

.blog_n_info p {
    margin: 1em 0 2em;
}

ul.blog_list li a {
    font-weight: 400;
}

/*--video--*/

.pope {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



.button h6 {
    font-size: 1.6em;
    text-transform: capitalize;
}

.button {
    padding: 3em 3em 0em;
}

.button a {
    margin-top: 1em;
    display: inline-block;
    color: #ffffff;
    background: #ea4c89;
    padding: 4px 20px;
    outline: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 10px;
}

.button a:hover {
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.button span {
    font-size: 25px;
    top: 2px;
}

/*--// about-- */

/*-- pagination --*/

ul.pagination {
    margin: 3em 0 0 0;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
    display: inline-block;
}

.pagination>li>a,
.pagination>li>span {
    color: #212121;
}

/* .pagination>li>a.active {
    color: #fff;
    background-color: #168eea;
    border-color: #168eea;
} */

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #fff;
    background-color: #168eea;
    border-color: #168eea;
}

.pagination>li {
    margin: 0 1px;
    display: inline-block;
}

.pagination>li>a,
.pagination>li>span {
    padding: 8px 15px;
}

/*-- //pagination --*/

/*-- News --*/

div#news {
    background: #16bac5;
}

.nl-event-grid a {
    display: block;
}

.nl-event-grid a img {
    width: 100%;
    margin-bottom: 0;
}

.news-grid-info {
    background: #fff;
    padding: 2em;
}

.news-grid-info a.ren {
    font-size: 1.4em;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 1.5em 0em 1em;
}

.nl-event-grid a img.thumbnail {
    border: none;
}

.news-grid-info a.ren:hover {
    color: #ea4c89;
}

.news-grid-info h5 {
    color: #000;
    font-size: 1.1em;
    margin: 1em 0;
}

.nl-event-img {
    position: relative;
}

.text-n {
    position: absolute;
    top: 38%;
    left: 10%;
}

.text-n h4 {
    color: #000;
    font-size: 1.8em;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0.2em;
    text-decoration: none;
}

.text-n p {
    color: #ececec;
    margin-bottom: 2em;
}

.text-n h6 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 0.5em;
}

.text-n h5 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

a.view.new-n {
    font-size: 1em;
    margin: 1em 0 0;
    text-align: left;
    color: #ea4c89;
    font-weight: 600;
}

ul.blog_list_btm li a span {
    color: #ea4c89;
}

ul.blog_list_btm li {
    font-weight: 600;
}

ul.blog_list_btm li a {
    color: #000;
    font-weight: 600;
}

a.view.resn {
    font-size: 1em;
    background: none;
    color: #ff2f68;
    margin: 1em 0 0;
    padding: 0;
}

a.view.resn:hover {
    color: #3369e7;
}

.response h3 {
    font-size: 2em;
    color: #000;
}

.media-left.response-text-left a img {
    width: 100%;
}

.media-left.response-text-left {
    float: left;
    width: 13%;
}

.media-body.response-text-right {
    float: right;
    width: 85%;
}

.media-body.response-text-right h5 {
    font-size: 1.8em;
    color: #000;
    padding-bottom: 0.5em;
}

.media-body.response-text-right ul li {
    list-style: none;
    display: inline-block;
    color: #afadad;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.media-body.response-text-right ul li:nth-child(2),
.media-body.response-text-right ul li:nth-child(3),
.media-body.response-text-right ul li:nth-child(4) {
    margin-left: 1em;
}

a.read-n {
    color: #ff2f68;
    margin-top: 1em;
    display: inherit;
    font-size: 1.1em;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.read-n:hover {
    color: #3369e7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.media.response-info.m2 {
    margin-top: 3em;
}

.response {
    padding: 0em 0em 5em;
}

/*-- //News --*/

h3.b-title span {
    font-size: 1.3em;
    text-transform: capitalize;
    background: #ea4c89;
    padding: 0 10px;
    color: #fff;
    line-height: 2;
    font-weight: 400;
}

h3.b-title {
    border-bottom: 1px solid #ea4c89;
    margin-bottom: 2em;
    text-transform: capitalize;
    color: #000;
}

/*-- model --*/

.modal-header {
    padding: 2em;
}

.modal-header h4 {
    padding-bottom: 1em;
    color: #111;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

.modal-header h5 {
    color: #ff2f68;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0.3em 0 1em;
}

.modal-header span {
    font-size: 1.1em;
    color: #777;
    letter-spacing: 1px;
    line-height: 33px;
    padding-bottom: 16px;
    display: inline-block;
    margin-top: 1em;
}

.modal-header img {
    float: left;
    width: 100%;
}

/*-- //model --*/

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* mask */

.news-grid-info span.fa {
    color: #ea4c89;
    margin-right: 1em;
    font-size: 1em;
}

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.view .mask,
.view .content {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view a.info i {
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
}

.view a.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
}

.view-sixth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
    background: #000;
    padding: 0.5em 1em;
    text-transform: capitalize;
}

.nl-event-grid.view-sixth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.view-sixth:hover img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.view-sixth:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/*  //mask   */

/* testimonials */

/*.testimonials-agile {
    background: #16BAC5;
}

.testimonials-agile.section-agile h3 span {
    background: #fff;
    color: #ea4c89;
}

.testi-well {
    padding: 4em 2em 2em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.testi-nl-txt h4 {
    color: #ea4c89;
    font-size: 1.3em;
}

.testi-nl-txt p {
    margin: 1em 0;
}

.testi-nl-txt span {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-testi {
    width: 7%;
    float: right;
}

.nav-testi span {
    color: #ea4c89;
    font-size: 1.8em;
}

.btn-vertical-slider {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

.parent {
    display: flex;
    display: -webkit-flex;
    /* NEW - Chrome */
   /* -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.cform_wthree label {
    font-size: 14px;
    color: #000;
    float: left;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-style: italic;
}

.field-n-agile-grid {
    flex-basis: 48%;
     -webkit-flex-basis: 48%;
    margin-bottom: 1.5em;
}

.cform_wthree label i {
    font-size: 1.1em;
    margin-right: 3px;
    color: #16bac5;
}

.cform_wthree input[type="text"],
.cform_wthree input[type="email"],
textarea {
    width: 100%;
    color: #000000;
    outline: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: none;
    border-left: 3px solid #ea4c89;
    background: #eee;
    -webkit-appearance: none;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
    height: 200px;
}

.form-option-n-agileits {
    margin-bottom: 1.5em;
    flex-basis: 100%;
     -webkit-flex-basis: 100%;
}

.text-field-agileits-nlayouts {
    flex-basis: 100%;
     -webkit-flex-basis: 100%;
}

.cform_wthree input[type=submit] {
    color: #FFFFFF;
    margin-top: 2em;
    width: 13%;
    padding: 0.5em 0;
    font-size: 1.1em;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid #16bac5;
    outline: none;
    background: #16bac5;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.cform_wthree input[type=submit]:hover {
    background: #ea4c89;
    border-color: #ea4c89;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
*/
/*--//contact--*/

/* -- Responsive code -- */
@media screen and (min-width:1681px) and (max-width:1920px){
	
}
@media screen and (min-width:1601px) and (max-width:1680px){
	
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
    h3.wthree-title {
        font-size: 4.2em;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    h2.nls-bnrtext {
        color: #fff;
        font-size: 7.8em;
    }
    .sec2-title h4 {
        font-size: 2.8em;
    }
    .banner-text {
        padding: 17em 0em;
        margin: 2em auto;
        float: left;
        width: 40%;
        text-align: center;
    }
    .banner-slide {
        width: 85%;
        height:80px;
        margin:-80px auto;
        margin-left:90%;
        font-family: Arial, Helvetica, sans-serif;
        background: rgba(0, 0, 0, 0.16);
        outline: 6px solid rgba(255, 255, 255, 0.03);
        text-align: center;
        padding-top:10px;
        /*chinh vi tri chu so voi khung*/
        
    }
    .container1b{
        margin-bottom:35px
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .banner-text {
        width: 39%;
        padding: 15em 0em;
    }
    .sec2-title h4 {
        font-size: 2.6em;
    }
    
}

@media screen and (min-width: 1081px) and (max-width: 1280px) {
    h2.nls-bnrtext {
        font-size: 7.5em;
    }
    .sec2-title h4 {
        font-size: 2.44em;
    }
    .news-grid-info a.ren {
        font-size: 1.3em;
        letter-spacing: 0;
    }
    .banner-agileits-btm {
        min-height: 564px;
    }
    .banner-slide {
        width: 110%;
        height:80px;
        margin:-80px auto;
        margin-left:90%;
        font-family: Arial, Helvetica, sans-serif;
        background: rgba(0, 0, 0, 0.16);
        outline: 6px solid rgba(255, 255, 255, 0.03);
        text-align: center;
        padding-top:10px;
        /*chinh vi tri chu so voi khung*/ 
    }
    .container6{
        margin-bottom: 64px
    }
    .container7{
        margin-bottom: 64px
    }
    .middle {
      
        transition: .5s ease-in;
        opacity: 0;
        position: absolute;
        top: 38%;
        left: 30%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
      }
    .text {
        margin-left: 45px;
        background-color: #3D3E40;
        color: white;
        font-size:20px;
        padding:10px 16px;
        text-align: center;
        font-weight: bold;
      }
}

@media screen and (min-width: 1051px) and (max-width: 1080px) {
    .banner-text {
        padding: 14em 0em;
    }
    .banner-text {
        width: 44%;
    }
    .about-nls h4 {
        width: 90%;
    }
    .sec2-title {
        padding: 15em 2em;
    }
    .sec2-title h4 {
        font-size: 2.2em;
        letter-spacing: 0;
    }
    .sec2-title a {
        width: 33%;
    }
    .sec2-title {
        padding: 12em 2em;
    }
    .blog_n_info h5 a,
    .single-left1 h5 {
        font-size: 2em;
    }
    news-grid-info a.ren {
        margin: 1em 0em 1em;
    }
    .button {
        padding: 3em 2em 0em;
    }
    .banner-agileits-btm {
        min-height: 555px;
    }
    h3.b-title span {
        font-size: 1.15em;
    }
    .subscribe-form {
        width: 98%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1050px) {}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    h2.nls-bnrtext {
        font-size: 7em;
    }
    .banner-text {
        width: 45%;
        padding: 9em 0em;
    }
    .sec2-title {
        padding: 12em 2em 12em 0.2em;
    }
}

@media screen and (min-width: 901px) and (max-width: 991px) {
    nav a {
        font-size: 1.1em;
    }
    h2.nls-bnrtext {
        font-size: 6.5em;
    }
    .banner-text {
        width: 40%;
        padding: 10em 0em 6em;
    }
    p.nls-p {
        font-size: 1.1em
    }
    .banner-agileits-btm {
        background-size: contain;
        margin: 2em 0;
    }
    .w-text {
        width: 90%;
    }
    h3.wthree-title {
        font-size: 4em;
    }
    .sec2-title {
        text-align: center;
        padding: 6em 0;
    }
    .blog_n_info {
        padding: 0 30px 30px 30px;
    }
    .blog_n_info h5 a,
    .single-left1 h5 {
        font-size: 1.8em;
    }
    .button {
        padding: 3em 14em 0em;
    }
    .testi-well {
        padding: 4em 2em;
    }
    .nav-testi {
        width: 11%;
    }
    .cform_wthree input[type=submit] {
        width: 20%;
    }
    .subscribe-main h5 {
        padding-left: 10px;
        border-left: 4px solid #fff;
        text-align: left;
    }
    .subscribe-form {
        width: 100%;
        float: none;
        margin-top: 2em;
    }
    .email:before {
        right: 216px;
    }
    .submit-agile:before {
        right: 171px;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    h2.nls-bnrtext {
        letter-spacing: 9px;
    }
    .about-nls h4 {
        font-size: 1.5em
    }
}

@media screen and (min-width: 769px) and (max-width: 800px) {
    .banner-text {
        width: 46%;
        padding: 9em 0em 5em;
    }
    #menuToggle {
        right: 3.5%;
    }
    .section-agile {
        padding: 5em 0;
    }
}

@media screen and (min-width: 767px) and (max-width: 768px) {
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        letter-spacing: 6px;
        font-size: 6em;
    }
    .about-nls h4 {
        font-size: 1.4em;
        width: 97%;
    }
    span.span1 {
        width: 270px;
        color: #fff;
        position: relative;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: 'Pacifico', cursive;;
        font: normal 40px/50px Times New Roman, Times, sans-serif;
        /*font: normal 40px/50px Barlow Condensed, sans-serif;*/
        font-weight: 600;
        top: 0;
        left: 0;
        margin:0 auto;
        -webkit-animation: move 5s;
        -webkit-animation-iteration-count: infinite;
       /* -webkit-animation-delay: 1s;*/
    }
}

@media screen and (min-width: 736px) and (max-width: 767px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:190px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        font-size:25px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
}

@media screen and (min-width: 667px) and (max-width: 736px) {
    .banner {
        background-size:cover;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:415px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-top:150px;
        margin-left:280px;
        font-size:50px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h3.b-title span {
        font-size: 1em;
    }
    figure.effect-ming p {
        padding: 0 1em 1em;
    }
    .blog_n_info {
        padding: 30px;
    }
    .email:before {
        border-right: 48px solid rgba(255, 255, 255, 0);
    }
    .submit-agile:before {
        border-left: 48px solid rgba(255, 255, 255, 0);
    }
    .subscribe-main input[type="submit"] {
        width: 26%;
    }
    .footer-social h5 {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 641px) and (max-width: 667px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:390px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        font-size:45px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        letter-spacing: 5px;
        font-size: 5.5em;
    }
    h3.wthree-title {
        font-size: 3.6em;
    }
    figure.effect-ming h5 {
        margin: 8% 0 10px 0;
    }
    figcaption.first-grid-abt h5 {
        margin-top: 3em;
    }
    .button {
        padding: 3em 13em 0em;
    }
    .email:before {
        right: 200px;
    }
    .submit-agile:before {
        right: 153px;
    }
    .subscribe-main input[type="email"] {
        width: 58%;
    }
    .blog_section:nth-child(2) {
        margin: 4em 0 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 640px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:380px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        font-size:45px;
        margin-left:250px;
        margin-top: 100px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        letter-spacing: 4px;
        font-size: 5.2em;
    }
    p.nls-p {
        font-size: 1em;
    }
    .grid figure figcaption {
        padding: 18px 23px;
    }
    .grid figure h5 {
        font-size: 2.2em;
    }
    .button {
        padding: 3em 11em 0em;
    }
    .nav-testi {
        width: 17%;
    }
    .blog_section:nth-child(2) {
        margin: 3em 0 0em 0;
        padding-bottom: 30px;
    }
    .blog_n_info:nth-child(odd) {
        padding-top: 0;
    }
    .email:before {
        border-right: 36px solid rgba(255, 255, 255, 0);
    }
    .submit-agile:before {
        border-left: 37px solid rgba(255, 255, 255, 0);
    }
    .submit-agile:before {
        right: 152px;
    }
    .subscribe-main input[type="submit"] {
        width: 27%;
    }
}

@media screen and (min-width: 569px) and (max-width: 600px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:350px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-left:200px;
        font-size:45px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        letter-spacing: 3px;
        font-size: 5em;
    }
    p.nls-p span {
        margin-left: 7px;
        font-size: 1.3em;
    }
    figure.effect-ming figcaption::before {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    figure.effect-ming p {
        padding: 0 0em 1em;
    }
    .about-nls h4 {
        font-size: 1.3em;
    }
    h3.b-title {
        margin-bottom: 1.5em
    }
    .email:before {
        right: 173px;
    }
    .submit-agile:before {
        right: 141px;
    }
    .subscribe-main input[type="email"] {
        width: 60%;
    }
}

@media screen and (min-width: 481px) and (max-width: 568px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:190px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-top: 40px;
        font-size:25px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        font-size: 4.5em;
    }
    figure.effect-ming h5 {
        margin: 1.5% 0 10px 0;
    }
    figcaption.first-grid-abt h5 {
        margin-top: 3em;
    }
    .sec2-title {
        padding: 5em 0;
    }
    .blog_n_info h5 a,
    .single-left1 h5 {
        font-size: 1.7em;
    }
    .button {
        padding: 3em 8em 0em;
    }
    .cform_wthree input[type=submit] {
        width: 25%;
    }
    .email:before {
        border-right: 23px solid rgba(255, 255, 255, 0);
    }
    .submit-agile:before {
        border-left: 26px solid rgba(255, 255, 255, 0);
    }
    .subscribe-main input[type="submit"] {
        width: 29%;
    }
}

@media screen and (min-width: 441px) and (max-width: 480px) {
    .banner {
        background-size:cover;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:340px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-top:100px;
        font-size:35px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    h2.nls-bnrtext {
        font-size: 4.2em;
    }
    .logo-nls h1 {
        font-size: 2.8em;
    }
    .section-agile {
        padding: 4em 0;
    }
    .grid {
        width: 100%;
    }
    figure.effect-ming h5 {
        margin: 21.5% 0 10px 0;
    }
    figcaption.first-grid-abt h5 {
        margin-top: 8em;
    }
    figure.effect-ming:last-child {
        margin-top: 0;
    }
    h3.wthree-title {
        font-size: 3.3em;
    }
    figure.effect-ming.active-abt-wthree {
        margin: 2em 0;
    }
    .blog_n_info h5 a,
    .single-left1 h5 {
        font-size: 1.6em;
    }
    .button h6 {
        font-size: 1.5em;
    }
    .button {
        padding: 3em 5em 0em;
    }
    .sec2-title h4 {
        font-size: 2.1em
    }
    .testi-well {
        padding: 1em 2em 3em;
    }
    .testi-nl-txt p {
        margin: 1em 0 0.5em;
    }
    .testi-grid1:nth-child(1) {
        margin: 2em 0;
    }
    .email:before {
        right: 138px;
    }
    .submit-agile:before {
        right: 117px;
    }
    .testi-nl-txt h4 {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 415px) and (max-width: 440px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:190px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        font-size:25px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    .parent {
        display: block;
    }
}

@media screen and (min-width: 385px) and (max-width: 414px) {
    h2.nls-bnrtext {
        font-size: 4em;
    }
    .banner-text {
        width: 81%;
        float: none;
        margin: 0 auto;
        padding: 3em 0em 2em;
    }
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:200px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-top:35px;
        font-size:30px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
     .detail-3 {
          display: none;
     }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
    figcaption.first-grid-abt h5 {
        margin-top: 6em;
    }
    .button {
        padding: 3em 4em 0em;
    }
    .blog_n_info h5 a,
    .single-left1 h5 {
        font-size: 1.35em;
    }
    .blog_n_info h4 {
        font-size: 16px;
    }
    h3.b-title span {
        font-size: 0.95em;
    }
    .testi-nl-txt {
        width: 100%;
    }
    .tg-img {
        width: 60%;
    }
    .nav-testi {
        width: 25%;
    }
    .subscribe-main h5 {
        font-size: 1.7em;
    }
    .subscribe-main input[type="email"],
    .subscribe-main input[type="submit"] {
        width: 100%;
        border-radius: 30px;
    }
    .submit-agile:before,
    .email:before {
        border: none;
    }
    .subscribe-main input[type="submit"] {
        margin-top: 1em
    }
}

@media screen and (min-width: 376px) and (max-width: 384px) {
    .banner {
        background-size:100%;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:190px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        margin-top:20px;
        font-size:30px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       display: none
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
    }
    h2.nls-bnrtext {
        color: #ea4c89;
    }
    h3.wthree-title {
        font-size: 3em;
    }
    p.nls-p {
        color: #000;
    }
    p.nls-p span {
        color: #ea4c89;
    }
    .sec2-title {
        padding: 4em 1em;
    }
    .sec2-title a {
        width: 40%;
    }
    .sec2-title h4 {
        font-size: 2em;
    }
    .button {
        padding: 2em 3em 0em;
    }
    .banner-agileits-btm {
    }
    .footer-social h5 {
        font-size: 1.6em;
    }
    .c-news {
        min-height: 500px;
    }
    .cform_wthree input[type=submit] {
        width: 30%;
        padding: 0;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
     .banner {
         background-color: #3D3E40;
          background-size: 100%;
          height: auto;
          margin-top: 0;
          padding-top: 0;
          width: 100%;
          height: 200px;
     }

     .banner-text {
          display: none;
     }

     .banner-slide {
          display: none;
     }

     .txtdeepshadow {
          margin-left: 200px;
          font-size: 20px
     }

     .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o {
          display: none
     }
   
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
    }
    h3.wthree-title {
        font-size: 2.9em;
    }
    .about-nls h4 {
        font-size: 1.25em;
        width: 100%;
    }
    .sec2-title h4 {
        font-size: 1.9em;
    }
    .blog_n_info {
        padding: 30px 18px;
    }
    .news-grid-info a.ren {
        font-size: 1.2em;
    }
    .subscribe-main h5 {
        font-size: 1.6em;
    }
     .detail-3 {
     display: none;
     }
}

@media screen and (max-width: 320px) {
    .banner {
        background-size:100%;
        height:auto;
        margin-top:0;
        padding-top:0;
        width:100%;
        height:190px;
    }
    .banner-text {
        display:none;
    }
    .banner-slide{
        display:none;
    }
    .txtdeepshadow{
        font-size:25px; 
        margin-left:100px
    }
    .header-right, .header-right a, .header-right p, .header-right .fa-phone, .header-right .fa-envelope-o  {
       
    }
    #menuToggle {
        display: block;
        position: fixed;
        height: 40px;
        right: 5%;
        top: 10px;
        width: 46px;
        z-index: 9999;
    }
    /*-- bottom-to-top --*/  
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 20%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

    .logo-nls h1 a {
        color: #ea4c89;
    }
    h3.wthree-title {
        font-size: 2.15em;
    }
    .about-nls h4 {
        font-size: 1.15em;
    }
    .w-text {
        width: 100%;
    }
    figure.effect-ming h5 {
        margin: 13% 0 10px 0;
    }
    figcaption.first-grid-abt h5 {
        margin-top: 4em;
    }
    .sec2-title h4 {
        font-size: 1.6em;
    }
    .news-grid-info {
        padding: 2em 1.5em;
    }
    .news-grid-info a.ren {
        font-size: 1.1em;
    }
    .view-sixth a.info {
        font-size: 1em;
        letter-spacing: 0;
    }
    .testi-well {
        padding: 1em 1em 4em;
    }
    .testi-nl-txt h4 {
        font-size: 1.1em;
    }
    .nav-testi {
        width: 32%;
    }
    ul.blog_list_btm li {
        margin-right: 0px;
        font-size: 13px;
    }
    .section-agile {
        padding: 3em 0;
    }
    .button {
        padding: 5em 2em 0em;
    }
    .gallery-img-grid.hover14,
    .agile-gallery_grid_main {
        width: 100%;
    }
    .footer-social h5 {
        font-size: 1.4em;
    }
    .subscribe-main h5 {
        font-size: 1.5em;
    }
}

/* -- //Responsive code -- */
